/* Main */

@font-face {
    font-family: 'SharpBold';
    src: url('../fonts/sharpgrotesk-bold20-webfont.woff2') format("woff2");
}



@font-face {
    font-family: 'SharpBook';
    src: url('../fonts/sharpgrotesk-book20-webfont.woff2') format("woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    list-style: none;
}

html {
    font-size: 16px;
    height: 100%;
}

/* Shared */

body {
   font-family: 'SharpBook';
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    margin: 1rem;
}

a {
    text-decoration: none;
}

/* Home */

.header {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header--menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header--menu a {
    color: #000;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Footer */

footer {
  margin-top: auto;
  background-color: #000;
  color: #fff;
  padding: 1rem;
    font-size: 0.85rem;

}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer a {
    color: #fff;
}